<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <ul class="navigation">
            <li>
                <a href="/">Home Page</a>
            </li>
            <li>
                <a href="/users">Users List</a>
            </li>
        </ul>
    </header>
    <main>
        <h1>Here we show the user list data...</h1>
    </main>
    <script src="/js/test.js"></script>
</body>
</html>