header {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #FFAA11;
    color: blue;
}
.navigation {
    display: flex;
    list-style: none;
    gap: 10px; 
}
.navigation  li a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
    margin: 0;
}